#headerText {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    }

html, body {
    height: 100%;
    margin: 0;
}
    
    #header-img {
       width: 50px;
       height: 50px;
    }
    
    #header {
      background-color: #FF9800;
    }
    
    body{
      font-family:  'Poppins', sans-serif;
      display: flex;
      flex-direction: column;
    }
    
    nav > li {
      text-decoration: none;
    }
    
    nav > ul {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      padding-inline-start: 0;
      margin-block: 0;
      height: 100%;
    }
    
    nav > li {
      text-decoration: none;
    }
    
    li > a {
      color: inherit;
      text-decoration: none;
    }
    
    header {
      width: 100%;
      height: 60px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
    }
    nav {
      width: 30%;
      max-width: 300px;
      height: 50px;
    }
    
    nav > ul > li:hover {
      background-color: #F0F0F0;
      color:black;
      cursor: pointer;
    }
    
    #nav-bar {
      font-size: 20px;
    }
    
    #About {
      margin-top: 70px;
    }
    
    #submit {
      width: 90px;
      font-family: 'Lato', sans-serif;
    font-size: 18px;
    }
    #email {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
    }
    
    #form {
     margin-bottom: 20px;
    }

    #video {
        width: 50%;
        height: 540px;
    }

    .content {
        flex: 1; /* Занимает все доступное пространство */
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    footer {
      text-align: center;
      background-color: #4CAF50;
      position: relative;
      width: 100%;
      right: 0;
      left: 0;
    }
    
    #footer-first {
      font-style: italic;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    #footer{ 
      font-style: bold;
      margin-top: 0;
      padding-top: 0;
    
    }
    
    @media only screen and (max-width: 720px) {
      #header {
        height: 100px;
      }
      #About {
      margin-top: 110px;
      }
    }